@import "tailwindcss";

@theme {
  --color-background: #1a0a05;         
  --color-input: #33100f;              
  --color-buttons: #ff6b3f;            
  --color-light-text: #fff3e9;         
  --color-btn-text: #ffd1b3;          
  --color-container: #260f0c;         
  --color-muted: #4a1f17;              
  --color-sub-text: #ffb48a;           
}

/* Custom Scrollbar - Burnt Orange Theme */
.custom-scroll::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: var(--color-input);
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #e65a2f;            
  border-radius: 6px;
  border: 2px solid transparent;
  transition: background-color 0.2s ease-in-out;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #ff774e;             
}
